<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.lancs.aurorawatch" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AuroraWatchUKActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service  android:name=".AuroraWatchUK"/>
        <receiver
            android:name=".AuroraWatchUKReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="uk.ac.lancs.aurorawatch.ALARM" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
